{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="contact-image lg-page-banner">
    <h2 class="text-black page-title">
        Newsletter
    </h2>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Subscribe To Our Newsletter</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 mb-5">
            <p class="lead">{{ newsletter_info.newsletter_info }}</p>
            <p class="text-muted">Last updated: {{ newsletter_info.updated_on|date:"F j, Y, g:i a" }}</p>
        </div>
        <div class="col-12 col-lg-6">
            <h4 class="text-center">Don't Miss Out and Sign Up Today!</h4>
            <div class="d-flex justify-content-center">
                <div class="subscribe-container">
                    <form method="POST">
                        {% csrf_token %}
                        <!-- Render the form using crispy filter -->
                        {{ form|crispy }}
                        <div class="text-center mt-4 mb-4">
                            <button type="submit" class="btn btn-black rounded-0">Subscribe!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}