{% extends "base.html" %}
{% load static %}

{% block title %}My Profile - {{ user.username }}{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="profile-image lg-page-banner">
    <h2 class="page-title">
        My Profile - {{ user.username }}
    </h2>
</div>
{% endblock %}

{% block content %}
<div class="container margin-bottom">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Account details for: {{ user.username }}</h2>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <section id="my-info" class="col-12 col-md-8 col-lg-6">
            <h5 class="text-green">My Information</h5>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-yellow rounded-0 text-uppercase mt-3 mb-5 mb-lg-0 float-right">Update Information</button>
            </form>
        </section>
        <section id="order-history" class="col-12 col-lg-6">
            <h5 class="text-yellow fs-5">Order History</h5>
            <div class="order-history table-responsive">
                {% if orders %}
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}"
                                    class="order-history-link">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.course.name }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>£{{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>You have no previous orders!</p>
                {% endif %}
            </div>
        </section>
    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
    {% endblock %}