/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/************************************* General Styles */
html {
    height: 100%;
}

body {
    color: var(--white);
    font-family: 'Roboto Mono', sans-serif;
    background-color: var(--purple);
}

.no-scroll {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
}

.margin-bottom {
    margin-bottom: 80px;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

/* Tables */
.table {
    color: var(--white);
}

th {
    font-size: 21px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.page-title {
    position: absolute;
    right: 10px;
    bottom: 6px;
    margin-bottom: 0;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1px 20px 6px 0px;
    max-width: 270px;
    color: var(--yellow);
    text-shadow: 4px 3px 1px var(--pink);
}

/* Override Summernote Styles */
.summernote-text p {
    font-family: 'Roboto Mono', sans-serif !important;
    font-size: 1rem !important;
    color: var(--white) !important;
    line-height: 1.5rem !important;
    padding: 0 15px;
}

/************************************* Colours */
:root {
    --white: #fafafa;
    --black: #020202;
    --pink: #FF02FF;
    --blue: #0AEAF1;
    --green: #8DFF0A;
    --yellow: #FFE91A;
    --purple: #28003D;
  }

.bg-black {
    background-color: var(--black);
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-green {
    background-color: var(--green);
}

.bg-yellow {
    background-color: var(--yellow);
}

.text-white {
    color: var(--white) !important;
}

.text-black {
    color: var(--black) !important;
}

.text-blue {
    color: var(--blue);
}

.text-green {
    color: var(--green);
}

.text-pink {
    color: var(--pink)
}

.text-yellow {
    color: var(--yellow);
}

.border-black {
    border: 1px solid var(--black) !important;
}

.bg-black {
    background-color: var(--black);
    color: var(--white);
}

/************************************* Buttons */
.btn:focus {
    box-shadow: 0 0 0 .2rem var(--pink);
}

.btn-black {
    background: var(--black);
    color: var(--white);
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--white);
    color: var(--black);
}

.btn-white {
    background: var(--white);
    color: var(--black);
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    background: var(--black);
    color: var(--white);
}

.btn-blue {
    background: var(--blue);
    color: var(--black) !important;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: var(--black);
    color: var(--blue) !important;
}

.btn-green {
    background: var(--green);
    color: var(--black);
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: var(--black);
    color: var(--green);
}

.btn-pink {
    background: var(--pink);
    color: var(--black);
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
    background: var(--black);
    color: var(--pink);
}

.btn-yellow {
    background: var(--yellow);
    color: var(--black);
}

.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:focus {
    background: var(--black);
    color: var(--yellow);
}

.btn-blue:focus, 
.btn-green:focus, 
.btn-pink:focus, 
.btn-yellow:focus {
    box-shadow: 0 0 0 .2rem var(--black);
}

.dj-courses-btn {
    background: linear-gradient(45deg, var(--blue), var(--pink));
    color: var(--black);
    min-width: 260px;
    border: 0 !important;
}

.dj-courses-btn:hover,
.dj-courses-btn:active,
.dj-courses-btn:focus {
    background: linear-gradient(45deg, var(--green), var(--yellow));
    color: var(--black);
}

.btn-outline-black {
    background: var(--white);
    color: var(--black) !important;
    border: 1px solid var(--black);
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: var(--black);
    color: var(--white) !important;
}

.disabled-btn {
    background-color: #6c757d;
    color: var(--black);
}

.disabled-btn:hover,
.disabled-btn:focus,
.disabled-btn:active {
    background-color: #6c757d;
    color: var(--black);
    cursor: not-allowed;
}

.edit-btn, 
.delete-btn {
    padding: 0.2rem;
    width: 67px;
    border: 1px solid var(--black);
}

.btn-danger {
    border-color: var(--black);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
    color: #dc3545;
    background-color: var(--black);
    border-color: var(--black);
}

/************************************** Images */
.lg-page-banner {
    height: 65vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.sm-page-banner {
    height: 60vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.full-page-banner {
    height: calc(100vh - 115px);
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.edit-image {
    width: 96px;          
    height: 96px; 
    object-fit: cover; 
    object-position: center;
}

.card-image {
    aspect-ratio: 16/10;
}

.card {
    overflow: hidden;
}

.course-card-image:hover {
    aspect-ratio: 16/10;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.home-image {
    background-image: url('../images/home-banner.jpg');
}

.profile-image {
    background-image: url('../images/profile-banner.webp');
}

.about-image {
    background-image: url('../images/about-banner.jpeg');
}

.courses-image {
    background-image: url('../images/courses-banner.jpeg');
}

.contact-image {
    background-image: url('../images/contact-banner.jpeg');
}

.faq-image {
    background-image: url('../images/faq-banner.jpeg');
}

.newsletter-image {
    background-image: url('../images/newsletter-banner.jpeg');
}

.bag-image {
    background-image: url('../images/bag-banner.jpeg');
}

.add-course-image {
    background-image: url('../images/add-course-banner.jpeg');
}

.edit-course-image {
    background-image: url('../images/edit-course-banner.jpeg');
}

.error-404-image {
    background-image: url('../images/error-404-banner.jpeg');
}

.error-500-image {
    background-image: url('../images/error-500-banner.jpeg');
}


/************************************** Header */
#main-nav {
    margin-left: -15px;
}

#topnav {
    color: var(--white);
    height: 75px;
}

.nav-link {
    color: var(--white);
    font-family: 'Orbitron', sans-serif;
}

.account-btn,
.bag-btn {
    color: var(--white);
    font-family: 'Orbitron', sans-serif;
}

.account-btn:hover,
.bag-btn:hover,
.account-btn:active,
.bag-btn:active,
.account-btn:focus,
.bag-btn:focus {
    color: var(--green) !important;
    transform: none;
    transition: none;
}

.main-logo-link h1 {
    font-size: 2rem;
}

.main-logo-link {
    font-family: 'Orbitron', sans-serif;
    width: fit-content;
    padding-left: 0.5rem;

    /* Set a fallback color for browsers that don't support background-clip */
    color: var(--blue); 

    /* Apply the gradient background for supported browsers */
    background-image: linear-gradient(45deg, var(--green), var(--blue), var(--pink)); 
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
}

.main-logo-link:hover *,
.main-logo-link:active *,
.main-logo-link:focus * {
    background-image: linear-gradient(45deg, var(--green), var(--blue), var(--pink)); 
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
}

.dropdown-item:active {
    background-color: var(--blue);
    color: var(--black);
}

.logo-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    max-height: 100%;
    width: auto; 
}

.header-container {
    padding-top: 68px;
}

.navbar {
    padding: 2px 1rem;
    height: 68px;
}

.bg-header {
    background-color: var(--black);
}

.navbar-light .navbar-toggler {
    border-color: rgba(254, 255, 255, 0.75);
}

.navbar-toggler:focus,
.navbar-toggler:active {
    border-color: var(--green) !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.mobile-nav-link {
    padding: 0.5rem 0;
}

.mobile-logo {
    padding: 1px 0;
    margin-left: 0.15rem;
    margin-top: 2px;
}

.mobile-logo-link {
    height: 100%;
}

.mobile-links-container {
    height: 100%;
}

.navbar-nav {
    padding-left: 15px;
}

.mobile-navbar {
    display: flex;
}

.mobile-logo-box {
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.active {
    color: var(--pink) !important;
}

/************************************** Home Page */
.home-statement {
    font-size: 2.4rem;
}

.home-content-box {
    margin-left: 15px;
}


/************************************** All Courses Page */
.badge {
    font-size: 1.2rem;
}

.remove-item {
    cursor: pointer;
}

.ctrl-btn-box {
    display: flex;
    justify-content: space-evenly;
}

.card-footer .edit-btn,
.card-footer .delete-btn {
    font-size: 0.85rem;
    padding: 0.1rem;
    width: 64px;
    margin-top: 7px;
}

.courses-tier-link {
    font-size: 18px;
    display: inline-block;
}

.courses-tier-link:hover,
.courses-tier-link:active,
.courses-tier-link:focus,
.course-link:hover,
.course-link:active,
.course-link:focus {
    transform: scale(1.08) !important;
    transition: transform 0.3s ease !important;
}

.difficulty-text {
    font-size: 18px;
}

/************************************** Course Detail Page */
.tier-link {
    font-size: 18px;
}

.tier-link:hover,
.tier-link:focus,
.tier-link:active {
    color: var(--green) !important;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.shopping-btns-box {
    justify-content: space-evenly;
}

/************************************** Checkout */
#id_country {
    padding: 0px 12px;
}

/************************************** Course Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: var(--pink);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--pink);
    border-color: var(--pink);
    border-radius: 0;
}

#hint_id_difficulty {
    color: var(--green) !important;
}

#add-image-feedback {
    margin-top: 10px;
    color: var(--green);
}

#edit-image-feedback {
    margin-top: 10px;
    color: var(--green);
}

/************************************** About Page */

.about-image-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.about-image-container img {
    object-fit: cover; 
    width: 100%;
    height: 100%;
    display: block; 
}

/************************************** FAQ */
.faq-link {
    font-size: 22px;
}

.faq-link:hover,
.faq-link:focus,
.faq-link:active {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    text-decoration: none;
    border: none;
}

.faq-text {
    font-size: 20px;
}

/************************************** Profile */
.order-history-link {
    color: var(--blue);
}

.order-history-link:hover,
.order-history-link:active,
.order-history-link:focus {
    color: var(--pink);
}

/************************************** Newsletter */
.subscribe-container {
    width: 100%;
    max-width: 350px;
    margin-top: 0.75rem;
}

/************************************* Error Pages */
.error-box {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin: 50px 0;
}

.error-box h3 {
    font-size: 1.3rem;
}

.error-box h4 {
    font-size: 1.1rem;
}

/************************************* Footer */
footer {
    background-color: var(--blue);
    justify-content: space-evenly;
}

.footer-icon {
    color: var(--black);
    font-size: 30px;
    margin: 5px 30px;
}

.footer-icon:hover,
.footer-icon:active,
.footer-icon:focus {
    color: var(--pink);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/************************************* Other */

/*************** Bootstrap Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 8px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/************* Allauth Form Formatting */

/* Override text colour of class applied
by allauth */
.text-muted {
    color: var(--white) !important;
}

.allauth-container {
    height: calc(100vh - 115px);
}

.allauth-container-lg-content {
    min-height: 100vh;
}

.allauth-container ul {
    list-style-type: none;
}

.allauth-container-lg-content ul {
    list-style-type: none;
}

.allauth-form-inner-content {
    margin-top: -16px;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: var(--white);
    font-size: 18px;
}

.allauth-form-inner-content input {
    border-color: var(--black);
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--green);
    border: 1px solid var(--green);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover,
.allauth-form-inner-content button:focus,
.allauth-form-inner-content input[type='submit']:focus,
.allauth-form-inner-content button:active,
.allauth-form-inner-content input[type='submit']:active {	
	color: var(--green);
    background-color: var(--black);
    border-color: var(--black);
}

.allauth-form-inner-content a {
	color: var(--blue); /* text-info */
}

.invalid-feedback strong {
    color: var(--blue);
}

/************************************** Media Queries */

/******************* XXX-Small Screens */
@media (max-width: 353px) {
    /* Toast box */
    .message-container {
        right: 1px;
        left: 1px;
    }

    /* Checkout Success */
    .order-number {
        font-size: 0.88rem;
    }
}

/******************* XX-Small Screens */
@media (max-width: 370px) {
    /* Header */
    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }
}

/******************* X-Small Screens */
@media (max-width: 400px) {
    /* Home */
    .dj-courses-btn {
        min-width: 200px;
    }
}

/******************* Small Screens */
@media (max-width: 500px) {
    .message-container {
        right: 4px;
    }
}

/******************* Small Screens */
@media (max-width: 767px) {
    /* Header */
    .list-inline-item:not(:last-child) {
        margin-right: 0rem;
    }

    .nav-link {
        padding: 0.7rem 0.4rem;
    }
}

/******************* Medium Screens */
@media (min-width: 768px) {
    /* General */
    .full-page-banner,
    .allauth-container {
        height: calc(100vh - 125px);
    }

    /* Footer */
    .footer-icon {
        font-size: 40px;
    }

    /* Home */
    .home-statement {
        font-size: 3.5rem;
    }

    /* Course Detail */
    .edit-btn,
    .delete-btn {
        font-size: 1.15rem;
        padding: 0.15rem;
        width: 75px;
    }

    /* Courses */
    .card-footer .edit-btn,
    .card-footer .delete-btn {
        font-size: 1.15rem;
        padding: 0.15rem;
        width: 75px;
        margin-bottom: 7px;
    }

    #order-success {
        height: 100vh;
    }

    footer {
        margin-top: 50px;
    }
}

/******************* Large Screens */
@media (min-width: 992px) {
    /* General */
    body {
        height: calc(100vh - 115px);
    }

    .full-page-banner,
    .allauth-container {
        height: calc(100vh - 173px);
    }

    .page-title {
        font-size: 40px;
        right: 20px;
        bottom: 20px;
        padding: 1px 5px 6px 5px;
        max-width: none;
    }

    /* Header */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 115px;
    }

    .navbar {
        padding: 0px;
        height: 40px;
    }

    .main-nav-link {
        color: var(--black) !important;
    }

    .main-nav-link:hover {
        background-color: var(--blue);
        color: var(--black) !important;
    }

    .bg-header {
        background-color: var(--pink);
    }

    .active {
        background-color: var(--black);
        color: var(--blue) !important;
    }

    /* Newsletter */
    .subscribe-container {
        margin-top: 1.5rem;
    }
}

/******************* XL Screens */
@media (min-width: 1200px) {
    /* General */
    .container {
        max-width: 80%;
    }
}

/******************* Custom Breakpoint */
@media (min-width: 1060px) {
    /* Logo */
    .main-logo-link h1 {
        font-size: 2.25rem;
    }
}

/******************* Custom Breakpoint */
@media (min-width: 1107px) {
    /* General */
    .page-title {
        font-size: 45px;
    }
}
