{% extends 'base.html' %}
{% load static %}

{% block title %}Error 404{% endblock title %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="error-404-image full-page-banner">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-lg-10 text-center mx-auto">
                <div class="error-box">
                    <h2 class="mt-4">
                        Error 404
                    </h2>
                    <h3>
                        Wicka-wicka... Uh oh, you just dropped the wrong beat!
                    </h3>
                    <h4>
                        Looks like that page is missing from the tracklist. Try rewinding and mixing it up with a
                        different
                        link!
                    </h4>
                    <div class="mt-5">
                        <h5>
                            <a href="{% url 'home' %}" class="btn btn-lg rounded-0 btn-white text-uppercase py-3">
                                Return back to the homepage to keep the beats flowing
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}