{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="about-image lg-page-banner">
    <h2 class="text-black page-title">
        About Us
    </h2>
</div>
{% endblock %}

{% block content %}
<div class="container margin-bottom">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">About Us</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 order-1 order-lg-0">
            <div class="summernote-text">{{ about_info.about_text|safe }}</div>
            <p><strong>Last updated:</strong> {{ about_info.updated_on|date:"F j, Y, g:i a" }}</p>
        </div>
        <div class="col-12 col-lg-6 order-0 order-lg-1 mb-5">
            {% if "placeholder" in about_info.about_image.url %}
            <div class="about-image-container">
                <img class="img-fluid" src="{% static 'images/noimage.png' %}" alt="placeholder image">
            </div>
            {% else %}
            <div class="about-image-container">
                <img class="img-fluid" src="{{ about_info.about_image.url }}" alt="About Image">
            </div>
            {% endif %}
        </div>
    </div>
</div>
    {% endblock %}