{% extends "base.html" %}
{% load static %}

{% block title %}Add a Course{% endblock title %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="add-course-image lg-page-banner">
    <h2 class="page-title">
        Add Course
    </h2>
</div>
{% endblock %}

{% block content %}
<div class="container margin-bottom">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <hr>
            <h2 class="logo-font mb-4">Course Management</h2>
            <h4>Add a Course</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <form method="POST" action="{% url 'add_course' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-pink text-uppercase rounded-0" href="{% url 'courses' %}">Cancel</a>
                    <button class="btn btn-green text-uppercase rounded-0" type="submit">Add Course</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}