{% extends "base.html" %}
{% load static %}

{% block title %}Add a Course{% endblock title %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="add-course-image lg-page-banner">
    <h2 class="page-title">
        Add Course
    </h2>
</div>
{% endblock %}

{% block content %}
<div class="container margin-bottom">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <hr>
            <h2 class="logo-font mb-4">Course Management</h2>
            <h4>Add a Course</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <form method="POST" action="{% url 'add_course' %}" class="form mb-2" enctype="multipart/form-data">
                <!-- Render form as crispy field except image field  due to widget -->
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                <p id="add-image-feedback"></p>
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-pink text-uppercase rounded-0" href="{% url 'courses' %}">Cancel</a>
                    <button class="btn btn-green text-uppercase rounded-0" type="submit">Add Course</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const imageInput = document.querySelector('input[name="image"]');
        const feedback = document.getElementById('add-image-feedback');

        if (imageInput) {
            imageInput.addEventListener('change', function () {
                if (imageInput.files.length > 0) {
                    feedback.textContent = `Image selected: ${imageInput.files[0].name}`;
                } else {
                    feedback.textContent = '';
                }
            });
        }
    });
</script>
{% endblock %}