{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                <!-- {% if course.image %}
                <a href="{{ course.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ course.image.url }}" alt="{{ course.name }}">
                </a>
                {% else %}
                <a href="#">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}/media/noimage.png" alt="{{ course.name }}">
                </a>
                {% endif %} -->
                {% if "placeholder" in course.image.url %}
                <a href="{% url 'course_detail' course.id %}">
                    <img class="card-img-top img-fluid" src="{% static 'media/noimage.png' %}" alt="placeholder image">
                </a>
                {% else %}
                <a href="{% url 'course_detail' course.id %}">
                    <img class="card-img-top img-fluid" src=" {{ course.image.url }}" alt="{{ course.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="course-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ course.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">${{ course.price }}</p>
                {% if course.tier %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'courses' %}?tier={{ course.tier.tier_name }}">
                        <i class="fa-solid fa-layer-group mr-1"></i>{{ course.tier.tier_name }}
                    </a>
                </p>
                {% endif %}
                {% if course.difficulty %}
                <small class="text-muted"><i class="fa-solid fa-skull mr-1"></i>{{ course.difficulty }}/10</small>
                {% else %}
                <small class="text-muted">Difficulty N/A</small>
                {% endif %}
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_course' course.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_course' course.id %}">Delete</a>
                </small>
                {% endif %}
                <p class="mt-3">{{ course.description }}</p>
                <form class="form" action="{% url 'add_to_bag' course.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <a href="{% url 'courses' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}