{% extends "base.html" %}
{% load static %}

{% block title %} Edit {{ course.name }}{% endblock title %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="edit-course-image lg-page-banner">
    <h2 class="page-title">
        Edit {{ course.name }}
    </h2>
</div>
{% endblock %}

{% block content %}
<div class="container margin-bottom">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <hr>
            <h2 class="logo-font mb-4">Course Management</h2>
            <h4>Edit a Course</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <form method="POST" action="{% url 'edit_course' course.id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                <!-- Load Summernote assets -->
                {% for field in form %}
                {% if field.name == 'description' %}
                <!-- Use Summernote widget for the description field -->
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% elif field.name != 'image' %}
                <!-- Render other fields using crispy forms -->
                {{ field|as_crispy_field }}
                {% else %}
                <!-- Handle the image field -->
                {{ field }}
                <p id="edit-image-feedback"></p>
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-pink text-uppercase rounded-0" href="{% url 'courses' %}">Cancel</a>
                    <button class="btn btn-green text-uppercase rounded-0" type="submit">Update Course</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const imageInput = document.querySelector('input[name="image"]');
        const feedback = document.getElementById('edit-image-feedback');

        if (imageInput) {
            imageInput.addEventListener('change', function () {
                if (imageInput.files.length > 0) {
                    feedback.textContent = `New image will be: ${imageInput.files[0].name}`;
                } else {
                    feedback.textContent = '';
                }
            });
        }
    });
</script>
{% endblock %}