{% extends "base.html" %}
{% load static %}

{% block title %} Edit {{ course.name }}{% endblock title %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="edit-course-image lg-page-banner">
    <h2 class="page-title">
        Edit {{ course.name }}
    </h2>
</div>
{% endblock %}

{% block content %}
<div class="container margin-bottom">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <hr>
            <h2 class="logo-font mb-4">Course Management</h2>
            <h4>Edit a Course</h4>
            <hr>
        </div>
    </div>
    <section id="edit-course-form">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <form method="POST" action="{% url 'edit_course' course.id %}" class="form mb-2"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    <!-- Load Summernote assets -->
                    {% for field in form %}
                    {% if field.name == 'description' %}
                    <!-- Use Summernote widget for the description field -->
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% elif field.name != 'image' %}
                    <!-- Render other fields using crispy forms -->
                    {{ field|as_crispy_field }}
                    {% else %}
                    <!-- Handle the image field -->
                    {{ field }}
                    {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-pink text-uppercase rounded-0" href="{% url 'courses' %}">Cancel</a>
                        <button class="btn btn-green text-uppercase rounded-0" type="submit">Update Course</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}